@import "tailwindcss";

.bg-color-w {
  background-color: #ffffff;
}

.text-color-w {
  color: #f5f5f5;
}

.bg-color-black50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-color-gray500 {
  background-color: #6b7280;
}

.text-color-gray600 {
  color: #4b5563;
}

.feedback-button {
  background-color: #2764ff;
  color: white;
  padding: 12px 16px;
  border-radius: 9999px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.feedback-button:hover {
  background-color: #2325ca;
}

.hover-close {
  color: #6b7280;
}

.hover-close:hover {
  color: #000000;
}

.submit-button {
  background-color: #2764ff;
}

.submit-button:hover {
  background-color: #2325ca;
}
